.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);

  .signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-grow: 1;

    height: auto;
    min-height: 40vh;
    background-color: var(--muted-bg-color);
    width: 40vw;
    max-width: 500px;
    padding: 20px;

    .input-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0.2rem;
    }

    button {
      width: 100%;
    }

    input[type=text],
    input[type=password] {
      width: 100%;
      box-sizing: border-box;
    }

    .error-message {
      color: var(--error-color);
      font-size: 0.9rem;
      width: 100%;
      text-align: left;
      margin-top: 0.2rem;
    }
  }
}